<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css'%}">
    
</head>
<body>
<h1>Our Products</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis deserunt sequi temporibus ut vel voluptas? Aliquid architecto blanditiis consectetur corporis deleniti, dolorum ipsam molestias obcaecati quidem ullam vel, voluptatem!</span><span>Delectus doloremque fuga magnam modi perferendis quia recusandae rerum tempora tempore vitae. A, aliquid culpa dolor, eum exercitationem hic in laborum nobis, placeat possimus reiciendis sequi sit tempore tenetur voluptate!</span></p>
<img src="{% static 'assets/menu/cake.jpg' %}" alt="">
<img src="{% static 'assets/menu/bagel.jfif' %}" alt="">
<img src="{% static 'assets/menu/cheesecake.jfif' %}" alt="">
<img src="{% static 'assets/menu/espresso.jfif' %}" alt="">
<img src="{% static 'assets/menu/gelato.jfif' %}" alt="">
<img src="{% static 'assets/menu/mocha.jfif' %}" alt="">

</body>
</html>