<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
{%load static%}
<link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
<script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>

</head>
<body>
    <h1 class="text-center">Our Services</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa vel quas labore quidem delectus expedita corporis molestiae aut, suscipit maiores est nulla at, vitae similique placeat, ut ea eveniet sequi!
    Adipisci, repellendus veritatis. Necessitatibus quidem facere corrupti sapiente laboriosam minus voluptas quos accusantium temporibus. Ipsa debitis porro maxime animi qui dicta modi repellat voluptatem. Eum sequi minus dolor maxime debitis.</p>

<button class="btn btn-warning">Learn More</button>

</body>
</html>